.category-filter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background: rgba(243, 244, 246, 1);
  border-radius: 6px;
  border: 1px solid var(--border-color);
  flex-wrap: wrap;

  &__button {
    background: transparent;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.8s ease, opacity 0.5s ease;
    color: var(--text-quaternary);
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &.active {
      background: white;
      color: var(--text-color);
      opacity: 1;
      border: 1px solid var(--border-color);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
  }
  @media (max-width: 825px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
