.categories {
  padding: 20px;

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    input {
      padding: 10px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
  }
}
