.category-sort {
  position: relative;

  &__sort-btn {
    background: white;
    border: 1px solid var(--border-color);
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 20rem;
    justify-content: space-between;
  }

  &__icon {
    font-size: 16px;
    color: var(--text-color);
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    list-style: none;
    width: 100%;
    margin-top: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    li {
      padding: 10px 16px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background: rgba(243, 244, 246, 1);
      }
    }
  }
}
