.password-wrapper {
  position: relative;
}

.toggle-password-btn {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.password-strength {
  font-size: 12px;
  margin: 5px 0 0 10px;
  &.good {
    color: var(--notification-success);
  }
  &.bad {
    color: var(--notification-error);
  }
}

@media (max-width: 768px) {
  .toggle-password-btn {
    padding: 0;
  }
}
