@import url('styles.css');
.contact-panel {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

.contact-content {
  position: relative;
  margin: 0 auto;
}

.contact-block {
  position: relative;
  width: 100%;
  height: 691px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-form {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--tint-blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 100%;
}
.contact-form h5 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.contact-form p {
  margin-bottom: 30px;
  max-width: 430px;
  font-weight: 500;
  font-size: 16px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 65%;
  align-items: center;
  justify-content: center;
}

.contact-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  height: 28px;
}

.contact-form button {
  width: 100%;
  padding: 15px;
  background-color: var(--yellow);
  color: var(--dark-blue);
  border: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border-radius: 41px;
  text-align: center;
  margin-top: 35px;
}

.contact-form a {
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
