@import url(style.css);

.projects {
  background-color: #fdfdfd;
  padding: 100px 0;
}

.projects .container {
  max-width: 1200px;
  margin-left: 10%;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.projects-header h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--dark-blue);
}

.projects-header a {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-blue);
  text-decoration: none;
}

.projects-grid {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.project-large {
  width: 843px;
  height: 600px;
}

.project-small {
  width: 405px;
  height: 284px;
}

.project-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(28, 30, 83, 1), rgba(28, 30, 83, 0.42));
  color: white;
  padding: 50px;
}

.overlay-large {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay-small {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project h3 {
  font-size: 24px;
  font-weight: 600;
  max-width: 200px;
  margin-bottom: 20px;
}

.project p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 300px;
  margin-bottom: 40px;
}

.project a {
  font-size: 16px;
  color: var(--yellow);
  text-decoration: none;
}
