.homeContainer {
  background-color: #3537f5;
  background-image: url('../assets/images/bg.svg');
  background-size: 40%;
  background-repeat: repeat;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
