.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 30px 40px;
}

.company-name {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.company-logo {
  margin-right: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: rgba(36, 39, 49, 1);
}

.description {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  max-width: 500px;
  margin: 20px 0;
  color: rgba(87, 95, 110, 1);
}

.registration-form {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  text-align: start;
  margin-top: 40px;
}

.progress-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  transition: background 0.3s;
  border: 2px solid #b9b9c3;
  &.active {
    background: #007aff;
    border-color: #007aff;
  }
}

.progress-line {
  width: 40px;
  height: 3px;
  background: #ddd;
  transition: background 0.3s;
  &.active {
    background: #007bff;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input-field {
  flex-grow: 1;
  max-width: 90%;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #e2e4e5;
  transition: border-bottom 0.3s ease;
  &:focus {
    border-bottom: 1px solid #007bff;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin: 0 0 10px 10px;
}

.submit-button {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #b3b3b3;
  }
  &:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
}

.phone-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: white;
  padding: 10px 0 20px 20px;
  border: 1px solid #e2e4e5;
  border-radius: 8px;
  margin-bottom: 20px;
}

.phone-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  height: 44px;
}

.phone-code {
  padding: 10px;
  background: white;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  border-bottom: 1px solid #e2e4e5;
}

.phone-confirmation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 1px solid rgba(226, 228, 229, 1);
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.phone-display {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.phone-display-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.phone-display-status {
  font-size: 14px;
  color: #666;
}

.phone-edit-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.code-input {
  background: #ffffff;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.code-label {
  font-size: 14px;
  color: rgba(36, 36, 38, 1);
  margin-bottom: 10px;
}

.code-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.resend-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.resend-img {
  margin-right: 5px;
}

.code-subtext {
  margin-top: 10px;
  font-size: 12px;
  max-width: 300px;
  color: rgba(87, 95, 110, 1);
}

.phone-confirmation.success {
  border: 1px solid rgba(226, 228, 229, 1);
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: #fefefe;
}

.phone-confirmation .checkmark {
  color: green;
  font-weight: bold;
  margin-right: 5px;
}

.privacy-notice {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
  position: relative;
  padding: 15px 0;

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    max-width: 320px;
  }
}

.phone-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0;
}
.privacy-icon {
  width: 16px;
  height: 21px;
  margin: 0 20px 5px 20px;
}

.close-notice {
  right: 30px;
  position: absolute;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.6;
}

.password-wrapper {
  position: relative;
}

.toggle-password-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.password-strength {
  font-size: 12px;
  margin: 5px 0 0 10px;
  &.good {
    color: green;
  }
  &.bad {
    color: red;
  }
}
